.form-control:focus {
  box-shadow: none;
}

.leadInputs {
  /* height: 50px; */
  display: flex;
  /* justify-content: center; */
  align-items: center;
  margin-top: 1rem;
}
.selection {
  width: 150px;
}

/* pagination */

.pagination {
  display: inline-block;
}

.pagination a {
  color: rgb(2, 2, 2);
  float: left;
  text-decoration: none;
  /* border: 1px solid; */
  height: 51px;
  width: 51px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination a {
  margin: 0 10px;
  background-color: white;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.05);
}

.pagination a.active {
  background-color: #0f0f0f;
  color: white;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
}

@media (max-width: 768px) {
div *{
  font-size: .6rem;
}
.tab-title{
font-size: .7rem;
}
}

@media (max-width: 1024px) {
  div *{
    font-size: .9rem;
  }
  .tab-title{
  font-size: .7rem;
  }
  }
  



@media (max-width: 1440px) {
  div *{
    font-size: 1.2rem;
  }
  .tab-title{
  font-size: .8rem;
  }
  }
  

  @media (min-width: 1920px) {
    div *{
      font-size: 1.5rem;
    }
    .leadchart{
      height:45vh;
      padding-top: 4vh;
      /* background-color: red; */
    }
    .leadcharts{
      height: 50vh;
      /* background-color: red; */
    }
   .leadchartt{
    /* background-color: red; */
    /* padding-top: 50px; */
    padding-top: 2vh;

   }
   .barchart{
    width: 100%;
   }
   
    }

    @media (max-width: 1920px) {
    
      .leadchart{
        height:45vh;
        padding-top: 4vh;
        /* background-color: red; */
      }

      .leadcharts{
        height: 50vh;
      }
     .leadchartt{
      /* background-color: red; */
      padding-top: 2vh;
     }

     .barchart{
      width: 100%;
     }
     
      }
    
  
