@import url(https://fonts.googleapis.com/css?family=Arial);
* {
  font-family: Arial;
  /* background: 
    #F1F1FA; */
}
.backgoundKo {
  background: #f1f1fa;
  overflow-x: hidden;
}

.Auth-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.Auth-form {
  width: 420px;
  /* box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px; */
  padding-top: 30px;
  padding-bottom: 20px;
  border-radius: 8px;
}

.Auth-form-content {
  padding-left: 12%;
  padding-right: 12%;
}

.Auth-form-title {
  text-align: center;
  margin-bottom: 1em;
  font-size: 24px;
  color: rgb(34, 34, 34);
  font-weight: 800;
}

label {
  font-size: 14px;
  font-weight: 600;
  color: rgb(34, 34, 34);
}

.sign1-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  
  height: 100vh;
}

.btn:focus{
  box-shadow: none !important;
}

.sign1-form {
  width: 800px;

  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  border-radius: 8px;
}


.drop-btn button{
 width: 100%;
 display: flex;
 justify-content: space-between;
 align-items: center;
}

/* hover and box shadow */
.trans {
  transition: box-shadow .6s;
}

.trans:hover {
  box-shadow: rgba(0, 0, 0, 0.29) 0px 14px 20px, rgba(99, 99, 99, 0.22) 0px 10px 10px;
}

button{
  box-shadow:0 3px 10px rgb(0 0 0 / 0.3);
  animation: 0.4s fadeIn ease-in;
  /* box-shadow: rgba(0, 0, 0, 0.29) 0px 14px 20px, rgba(99, 99, 99, 0.22) 0px 10px 10px; */
  cursor: pointer;
  outline: 0;

  
}
button:hover{
  background: linear-gradient(rgb(0 0 0) rgb(183, 25, 25));
  transform: translateY(-2px);
}
.boxshadow{
  box-shadow: 0 0 20px rgb(221, 215, 215);
}


::-webkit-scrollbar {
  width: 4px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.fadeIn {
  animation: 0.3s fadeIn ease-in;
}
@keyframes fadeIn {
  from {
    opacity: 0;
 }
  to {
    opacity: 1;
 }
}
